
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfffc;
}

#root {
  background-color: #ff9f1c;
  margin: 10px auto;
}

h1 {
  color: #011627;
  font-family: "Hind", sans-serif;
  font-size: 3em;
  text-align: center;
}

.insert-number {
  text-align: center;
  display: block;
  margin: 30px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #011627;
}

#offset {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #011627;
}

#container {
  background-color: #2ec4b6;
  border: 5px solid #011627;
  border-radius: 10px;
  margin: auto;
  width: 1300px;
  height: 550px;
}

.section {
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-size: 2em;
  color: #011627;
 /* border: #011627 solid 3px;*/ /*Esta sección sólo es para ver las cajas. Borrar después de usarla.*/
}

#input-text,
#output-text,
label {
  display: block;
  font-family: "Kanit", sans-serif;
  color: #011627;
}

.insert-text {
  margin: 10px 35px;
}

.button-container {
  margin: 10px 35px auto;
}

.btn {
  display: block;
  font-family: "Kanit", sans-serif;
  background-color: #E71D36;
  font-size: 1em;
  border: #E71D36 solid 1px;
  border-radius: 5px;
}

#encode-btn {
  padding: 0px 30px;
  margin: 0px auto 50px;
 
}

#encode-btn:hover {
  padding: 3px 33px;
  transition-duration: 0.1s;
}

#encode-btn:focus {
  padding: 3px 33px;
  background-color: #011627;
  border-color: #011627;
  color: #E71D36;
}

#decode-btn {
  padding: auto 5px;
  margin: 50px auto 0px;
}

#decode-btn:hover {
  padding: 3px 8px;
  transition-duration: 0.1s;
}

#decode-btn:focus {
  padding: 3px 8px;
  background-color: #011627;
  border-color: #011627;
  color: #E71D36;
}

.ciphred-text {
  margin: 10px auto auto 50px;
  width: 450px;
  height: 300px;
}

#input-text {
  width: 450px;
  height: 300px;
  text-align: start;
  font-size: 0.7em;
}

#output-text {
  font-size: 0.7em;
}
footer {
  background-color: #ff9f1c;
  color: #011627;
  margin: 100px, 0px, 10px;
  font-family: "Hind", sans-serif;
  font-size: 1em;
  text-align: center;
}